<div fxLayout="column" fxLayoutGap="48px">
  <div class="trainer-question" fxLayout="row">
    <div>
      <span class="mat-display-4">Sta kažu treneri</span> <br />o saradnji sa
      nama?
    </div>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayoutGap="24px"
    fxLayout.lt-lg="column"
    fxLayoutAlign="space-between flex-start"
  >
    <div fxLayout="column" fxLayoutGap="12px" fxFlex="50%">
      <img
        src="../../../assets/images/app-sample.jpg"
        alt="Image"
        class="app-image"
      />
      <form
        fxLayoutAlign="center first-baseline"
        fxLayout.lt-lg="column"
        fxLayoutGap="12px"
        fxLayout="row"
      >
        <mat-form-field fxFlex="70%" appearance="outline">
          <input matInput placeholder="Unesite svoj mejl..." />
          <mat-hint>Zapocnite besplatno 30 dana*</mat-hint>
        </mat-form-field>
        <button mat-flat-button fxFlex="30%">
          Kreirajte nalog
        </button>
      </form>
    </div>
    <div fxLayout="column" fxFlex="50%" fxLayoutGap="24px" class="trainers">
      <div fxLayout="row">
        <img
          src="../../../assets/images/hanibal.jpg"
          alt="Slika"
          class="trainer-image"
        />
        <div fxLayout="column" class="text-wrapper">
          <div class="text mat-h1">Brzo i efikasno</div>
          <div class="text">
            Proba neka. <br />
            Dobar trening sve pohvale. <br />Mnogo dobro kad pijes protein.
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <img
          src="../../../assets/images/hanibal.jpg"
          alt="Slika"
          class="trainer-image"
        />
        <div fxLayout="column" class="text-wrapper">
          <div class="text mat-h1">Brzo i efikasno</div>
          <div class="text">
            TektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsktsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsktsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTekts
            ktsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTekts
            TektsTektsTektsTektsTektsTektsTekts
          </div>
        </div>
      </div>
      <div fxLayout="row">
        <img
          src="../../../assets/images/hanibal.jpg"
          alt="Slika"
          class="trainer-image"
        />
        <div fxLayout="column" class="text-wrapper">
          <div class="text mat-h1">Brzo i efikasno</div>
          <div class="text">
            TektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsktsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsktsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTekts
            ktsTektsTektsTektsTektsTektsTektsTektsTektsTektsTektsTekts
            TektsTektsTektsTektsTektsTektsTekts
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
