<div class="main-container" fxLayout="column">
  <div
    fxLayout="column"
    fxLayoutGap="24px"
    fxLayoutGap.lt-lg="2px"
    class="first-page page"
  >
    <div fxLayoutAlign="flex-start center">
      <div class="mat-display-3 text" fxFlex="45%">
        Kako od jednog do <b>2000</b> klijenata?
      </div>
    </div>

    <div
      fxLayout="row"
      fxLayoutAlign="center start"
      fxLayoutAlign.lt-lg="center"
      fxLayoutGap="48px"
      fxLayout.lt-lg="column"
    >
      <div
        fxLayout="column"
        fxFlex="40%"
        fxLayoutAlign="center center"
        fxLayoutGap="48px"
        fxLayoutGap.lt-lg="6px"
      >
        <iframe [src]="safeURL" frameborder="0" allowfullscreen></iframe>
      </div>
      <div fxLayout="column" fxFlex="60%">
        <div fxLayout="row" class="mat-display-1">
          <mat-icon matListIcon class="mat-display-2">check</mat-icon>
          Da li još uvek misliš da je nemoguće trenirati više od 10 klijenata
          dnevno?
        </div>
        <div fxLayout="row" class="mat-display-1">
          <mat-icon matListIcon class="mat-display-2">check</mat-icon>
          Da broj tvojih radnih sati definiše tvoje prihode? <br />Da se posao
          trenera isplati samo u inostranstvu?
        </div>
        <div fxLayout="row" class="mat-display-1">
          <mat-icon matListIcon class="mat-display-2">check</mat-icon>
          NE MORA VIŠE TAKO!<br />
          NE MORA NAPORNIJE, MOŽE PAMETNIJE.
        </div>
        <div fxLayout="row" class="mat-display-1">
          <mat-icon matListIcon class="mat-display-2">check</mat-icon>
          Moj-trening je aplikacija koja ti omogućava postavljanje treninga i
          ishrane u samo 2 koraka i sada je možeš isprobati potpuno BESPLATNO 30
          dana!
        </div>
      </div>
    </div>
    <div
      fxLayout="row"
      fxLayout.lt-lg="column"
      fxLayoutAlign="flex-start start"
      fxLayoutGap="48px"
      class="form"
    >
      <div class="mat-display-1 warn" fxFlex="40%" fxLayout="column">
        POŽURITE! <br />AKCIJA ISTIČE USKORO
        <countdown
          [config]="{ leftTime: 360 * 60 }"
          class="mat-display-3 countdown"
          >$!h!h:$!m!m:$!s!s</countdown
        >
      </div>
      <form
        fxLayout="column"
        fxFlex="60%"
        fxLayoutGap="12px"
        fxFlex.lt-lg="100%"
        fxLayoutAlign.lt-lg="center center"
      >
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Unesite svoje ime..." />
        </mat-form-field>
        <mat-form-field floatLabel="never">
          <input matInput placeholder="Unesite svoj mejl..." />
        </mat-form-field>
        <button mat-flat-button class="pulse-button">
          Kreirajte nalog
        </button>
      </form>
    </div>
  </div>
  <app-strongman-first-text></app-strongman-first-text>
  <!-- <app-app-description></app-app-description>
  <app-trainers></app-trainers>
  <app-strongman></app-strongman>
  <app-prices></app-prices> -->
</div>
