.main-container {
  width: 100%;
}
.first-page {
  background-color: #408ebf;
}

iframe {
  width: 100%;
  height: 100%;
  min-height: 400px;
}

.mat-display-1,
.mat-display-2,
.mat-display-3 {
  margin-bottom: 12px;
}

button {
  font-size: 190%;
  background-color: #ee506f;
  height: 80px;
}

.warn {
  color: #ee506f;
  font-weight: bolder;
  text-align: center;
}
mat-form-field,
button {
  width: 60%;
  color: white;
}
.countdown {
  color: white;
}
form {
  width: 100%;
  margin-left: 55px;
}
countdown {
  letter-spacing: 2px;
}
mat-icon {
  padding-right: 32px;
}

@keyframes pulse {
  25% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
}
.pulse-button {
  -webkit-animation: pulse 1s ease-in-out infinite;
  -moz-animation: pulse 1s ease-in-out infinite;
  -ms-animation: pulse 1s ease-in-out infinite;
  animation: pulse 1s ease-in-out infinite;
}
.pulse-button:hover {
  -webkit-animation: none;
  -moz-animation: none;
  -ms-animation: none;
  animation: none;
}

@media only screen and (max-width: 1275px) {
  mat-form-field,
  button {
    width: 90%;
    justify-items: center;
    font-size: 150%;
  }
  .text {
    min-width: 100%;
    text-align: center;
    line-height: 1.5;
  }
  .mat-display-1,
  .mat-display-2,
  .mat-display-3 {
    font-size: 150% !important;
    margin-bottom: 12px;
  }
  .mat-display-3 {
    font-size: 200% !important;
  }
  .warn {
    width: 100%;
  }
  .first-page {
    padding: 0 6px;
  }
  form {
    margin: 0;
  }
}
