<div fxLayout="column" fxLayoutGap="48px">
  <div class="strongman-question" fxLayout="row" fxLayoutAlign="center center">
    <div class="mat-display-4">Zašto moj-trening?</div>
  </div>
  <div class="container">
    <div
      fxLayout="row"
      fxLayout.lt-lg="column"
      fxLayoutAlign.lt-lg="center center"
    >
      <div fxFlex="30%" class="image">
        <img src="../../../assets/images/strongmen.jpg" alt="Slika" />
      </div>
      <div fxFlex="70%">
        <span class="mat-display-2"
          >Milan strongman, prvi onlajn trener u srbiji</span
        ><br />
        <div class="mat-h1" class="text">
          <!-- Kao onlajn trener imao sam preko 8000 klijenata i probao sam sve
          četiri aplikacije koje postoje na tržištu. I kod svake sam imao neki
          problem a i mrzeo sam da nosim uvek lap top sa sobom. Skupili smo tim
          i za 2 godine napravili softver od trenera za trenera. Isprobajte
          besplatno 30 dana. Otvoreni smo za predloge i sugestije. Još samo par
          dana poklanjam moju e-knjigu
          <b>"Kako da nađete svoje prve klijente"</b>. Prijavi se i poslaću ti
          knjigu na messenger -->
          {{ text }}
        </div>
      </div>
    </div>
  </div>
</div>
