.container {
  padding: 0 24px;
}
.strongman-question {
  background-color: rgb(65, 150, 204);
  min-height: 200px;
  color: white;
}
.strongman-question > div {
  margin: 0;
}
.image {
  height: 500px;
  width: 500px;
}
div > img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.text {
  font-weight: lighter;
  font-size: 150%;
}
