.container {
  padding: 0 24px;
}

.price-title > div {
  text-align: center;
  font-size: 150%;
}
.price-title {
  background-color: rgb(65, 150, 204);
  min-height: 200px;
  color: white;
}
.price-item {
  text-align: center;
  background-color: rgb(65, 150, 204);
  padding: 24px 12px;
  min-width: 270px;
  min-height: 370px;
  color: white;
}
.price-item > div > span {
  font-size: 500%;
}
mat-divider {
  border-top-width: 5px;
  margin-top: 10px;
  border-color: white;
}
.euro-saver {
  font-size: 90% !important;
}
