<div fxLayout="column" fxLayoutGap="48px">
  <div class="price-title" fxLayout="row" fxLayoutAlign="center center">
    <div>
      <span class="mat-display-4">Cene</span><br />ako uštediš makar sat vremena
      nedeljno ili imaš novog klijenta - vredi
    </div>
  </div>
  <div
    class="container"
    fxLayout="row"
    fxLayout.lt-lg="column"
    fxLayoutGap.lt-lg="24px"
    fxLayoutAlign="space-evenly center"
  >
    <div fxLayout="column" class="price-item">
      <span class="mat-h1">Početnik</span>
      <div>
        <span>20&euro;</span>
        <br />
        do 5 klijenata
      </div>
      <mat-divider></mat-divider>
      <div>
        <span>50&euro;</span>

        <br />
        do 20 klijenata
      </div>
    </div>
    <div fxLayout="column" class="price-item">
      <span class="mat-h1">Profesionalac</span>
      <div>
        <span>70&euro;</span>

        <br />
        do 30 klijenata
      </div>
      <mat-divider></mat-divider>
      <div>
        <span>100&euro;</span>
        <br />
        do 50 klijenata
      </div>
    </div>
    <div fxLayout="column" class="price-item">
      <span class="mat-h1">Institucija</span>
      <div>
        <span>160&euro;</span>

        <br />
        do 100 klijenata
      </div>
      <mat-divider></mat-divider>
      <div>
        <span>200&euro;</span>

        <br />
        do 200 klijenata <br />
        <span class="euro-saver">
          preko 200 je 1 &euro; po klijentu
        </span>
      </div>
    </div>
  </div>
</div>
