.header {
  padding: 0 48px;
  background-color: #0d0d0d;
}

img {
  width: 100%;
  height: 100%;
}

.header-logo-container {
  padding: 12px 0;
}

.header-logo {
  margin-left: -60px;
}

button {
  background-color: #ee506f;
  color: white;
  font-size: 150%;
}

@media only screen and (max-width: 1000px) {
  .header {
    padding: 0 6px;
  }
  .header-logo {
  }
}
