<mat-toolbar class="header" fxLayout="row" fxLayoutAlign="space-between">
  <!-- fxLayout="row"
  fxLayoutAlign="space-between center"
  fxLayout.lt-lg="column"
  fxLayoutGap.lt-lg="6px" -->
  <div class="header-logo-container">
    <img
      src="../../../assets/images/logo.svg"
      class="header-logo"
      alt="Logotip"
    />
  </div>
  <!-- fxFlexOrder.lt-lg="2" -->

  <!-- fxFlexOrder.lt-lg="1" -->
  <div fxLayout="row" fxLayoutAlign="center center">
    <button mat-raised-button>Uloguj se</button>
  </div>
</mat-toolbar>
