<div class="second-page">
  <div class="second-page-image-wrapper"></div>
  <div fxLayoutAlign="flex-end" class="second-page-text">
    <div fxFlex="55%" fxLayout="column" fxFlex.lt-lg="100%">
      <div class="mat-display-3">Namučio sam se u početku</div>
      <div class="text" class="mat-display-1">
        <p>
          Da vas zainteresujem... Ja sam onaj bajča što ima par hiljada onlajn
          klijenata, a do pre par godina sam bio drvo, ali baš apsolutno drvo za
          onlajn biznis. U početku sam lomio glavu kako da nađem klijente, a
          posle mnogo objavljenih before after fotografija mojih klijenata i
          edukativnih postova kad je krenulo nisam mogao da pohvatam kome pišem
          na viber, kome šaljem pdf na email a kome u mesindžeru video sa
          tehnikom izvođenja.
        </p>
        <p>
          Da budem iskren nisam imao jasan plan. Znao sam samo da moram da radim
          i da se trudim. Jedna stvar je povukla drugu, pa je došla treća... I
          sad sam Kardašijan onlajn biznisa za trenere. Ne mislim na veličinu
          zadnjice. Iako imam najveći stomak (nikad pločice) imam impozantan
          broj klijenata. Kako?
        </p>
      </div>
      <div fxLayout="row" fxLayoutAlign="center" fxLayoutAlign="center center">
        <button mat-flat-button>Nastavi sa čitanjem</button>
      </div>
    </div>
  </div>
</div>
